.activity-indicator-body{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.spinner {
  position: fixed;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
}

.spinner_bar {
  -webkit-animation: spinner_spin 1.2s linear infinite;
  -moz-animation: spinner_spin 1.2s linear infinite;
  animation: spinner_spin 1.2s linear infinite;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  width: 20%;
  height: 7.8%;
  top: -3.9%;
  left: -10%;
}

@keyframes spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-moz-keyframes spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-webkit-keyframes spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}