.popup-msg{
  display: flex;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  line-height: 70px;
  text-align: center;
  font-size: 18px;
  background-color: rgba(255, 81, 81, 0);

  transition: all 1000ms linear;
}